@import "../../../styles/functions";
@import "../../../styles/variables";
.editProfile {
  min-height: 100vh;
  margin: 64px 0;
  color: $mainFontColor;
  .editForm {
    padding: 64px 64px;
    @include d-flex(center, center, column, 32px);
    background-color: $mainBackgroundColor;
    border: $mainBorder;
    border-radius: $mainBorderRadius;
    .editProfile {
      font-size: 44px;
      font-weight: 600;
    }
    .editFormInputs {
      @include d-grid(12, 16px);
      .editFormItem {
        grid-column: span 6;
        width: 100%;
        padding: 32px;
        background-color: $secondaryBackgroundColor;
        border: $mainBorder;
        border-radius: $mainBorderRadius;
        @include d-grid(12, 16px);
        align-items: center;
        .editLeft {
          align-items: center;
          display: flex;
          height: fit-content;
          width: fit-content;
          grid-column: span 3;
          font-size: 18px;
          font-weight: 600;
          .editAvatar {
            align-items: center;
            width: 64px;
            height: 64px;
            aspect-ratio: 1 1;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .editRight {
          grid-column: span 9;
          height: fit-content;
          width: 100%;
          input,
          #titleSelection {
            width: 100%;
            background-color: $inputBackgroundColor;
            border: none;
            outline: none;
            padding: 12px 12px;
            color: $mainFontColor;
            caret-color: $mainFontColor;
            font-size: 16px;
          }
          #updateAvatar {
            display: none;
          }
          .uploadAvatar {
            width: 100%;
            background-color: $inputBackgroundColor;
            border: none;
            outline: none;
            padding: 16px 16px;
            color: $mainFontColor;
            caret-color: $mainFontColor;
            font-size: 18px;
            cursor: pointer;
            transition: $transition;
            &:hover {
              background-color: $mainFontColor;
              color: $mainBackgroundColor;
            }
            @include d-flex(center, center, row, 32px);
          }
        }
        .imageError {
          grid-column: span 12;
        }
        .titleError {
          grid-column: span 12;
        }
        .error {
          grid-column: span 12;
        }
      }
    }
    .editSocials {
      width: 100%;
      @include d-grid(12, 16px);
      .social {
        grid-column: span 4;
        background-color: $secondaryBackgroundColor;
        padding: 16px;
        @include d-flex(center, center, row, 16px);
        color: $mainFontColor;
        border: $mainBorder;
        border-radius: $mainBorderRadius;
        .socialIcon {
          font-size: 28px;
        }
        .socialLink {
          width: 100%;
          border: none;
          outline: none;
          padding: 8px 12px;
          background-color: $inputBackgroundColor;
          color: $mainFontColor;
          caret-color: $mainFontColor;
          &::placeholder {
            color: grey;
          }
        }
      }
    }
    .editAbout {
      width: 100%;
      padding: 32px;
      background-color: $secondaryBackgroundColor;
      border: $mainBorder;
      border-radius: $mainBorderRadius;
      @include d-flex(flex-start, flex-start, column, 32px);
      h3 {
        font-size: 28px;
        font-weight: 600;
      }
      textarea {
        width: 100%;
        resize: vertical;
        min-height: 192px;
        padding: 16px;
        background-color: $inputBackgroundColor;
        color: $mainFontColor;
        caret-color: $mainFontColor;
        border: none;
        outline: none;
      }
    }
    .editProfileActionButtons {
      width: 100%;
      @include d-flex(center, space-between, row);
      button {
        min-width: 210px;
        background-color: $secondaryBackgroundColor;
        color: $mainFontColor;
        border: $mainBorder;
        border-radius: $mainBorderRadius;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 32px;
        cursor: pointer;
        transition: $transition;
        &:hover {
          background-color: $mainFontColor;
          color: $mainBackgroundColor;
        }
      }
    }
  }
}
