@import "../../styles/functions";
@import "../../styles/variables";
$dummy: $mainBackgroundColor;
$dummy: $secondaryBackgroundColor;
$dummy: $inputBackgroundColor;
$dummy: $mainFontColor;
$dummy: $mainFontColorHover;
$dummy: $bebas;
$dummy: $transition;
$dummy: $mainBorder;
$dummy: $mainBorderRadius;
$dummy: $mainBoxShadow;
$dummy: $secondaryFontColor;
$dummy: $FontColor200;
$dummy: $FontColor400;
$dummy: $FontColor600;
$dummy: $FontColor800;
.subPlansMain {
  .subscriptionPlansHeading {
    margin-top: 64px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    color: $mainFontColor;
    border-bottom: $mainBorder;
  }
  .subscriptionPlans {
    min-height: 100vh;
    color: $mainFontColor;
    margin: 64px 0 64px 0;
    @include d-grid(12, 16px);
  }
}
