@import "../../styles/functions";
@import "../../styles/variables";
.cartPageContainer {
  min-height: 100vh;
  color: $mainFontColor;
  margin: 64px 0;
  @include d-flex(flex-start, flex-start, column, 32px);
  .cartHeading {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 16px;
    border-bottom: $mainBorder;
    width: fit-content;
  }
  .cartContainer {
    @include d-grid(12, 16px);
    width: 100%;
    .cartLeftContainer {
      width: 100%;
      grid-column: span 8;
      @include d-flex(flex-start, flex-start, column, 16px);
    }
  }
}
