// Dark Mode
$blueAccent: #07011a;
$headerFooterBackgroundColor: #151515;
$bodyBackgroundColor: #07011a;
$mainBackgroundColor: #101010;
$secondaryBackgroundColor: #232323;
$inputBackgroundColor: #333;
$mainFontColor: #fcb14b;
$mainFontColorHover: #ffc266;
$bebas: "Bebas Neue", sans-serif;
$transition: all 0.3s ease-in-out;
$mainBorder: 1px solid $mainFontColor;
$mainBorderRadius: 8px;
$blueBoxShadow: 2px 2px 15px 3px rgba(7, 1, 26, 0.5);
$mainBoxShadow: 2px 2px 15px 3px rgba(252, 177, 75, 0.2);
$secondaryFontColor: rgba(252, 177, 75, 0.5);
$FontColor200: rgba(252, 177, 75, 0.2);
$FontColor400: rgba(252, 177, 75, 0.4);
$FontColor600: rgba(252, 177, 75, 0.6);
$FontColor800: rgba(252, 177, 75, 0.8);
// Light Mode
$mainFontColorLight: #2e385f;
$mainFontColorHoverLight: #46528d;
$headerFooterBackgroundColorLight: #ffffff;
$mainBackgroundColorLight: #f8f8f8;
$secondaryBackgroundColorLight: #e6e6e6;
$mainBorderLight: 1px solid $mainFontColorLight;
$mainBoxShadowLight: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
$secondaryBoxShadowLight: 2px 2px 15px 3px rgba(46, 56, 95, 0.2);
